:root {

}

body {
    font-family: 'VT323', monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

.font-press {
    font-family: 'Press Start 2P', cursive;
}

.font-VT323 {
    font-family: 'VT323', monospace;
}

.pixel-box {
    box-shadow: -15px 0 0 0 black,
                15px 0 0 0 black,
                0 -15px 0 0 black,
                0 15px 0 0 black;
}

.image-pixeled {
    image-rendering: pixelated;
}

.carouselArrow {
    background: transparent;
    border: none;
}




/*pixelated CSS box*/
.pixelButtonContainer {
    display: block;
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

.pixel {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323', serif;

    position: relative;
    display: inline-block;
    vertical-align: top;

    cursor: pointer;
}

.pixel:active, .pixel2:active {
    top: 2px;
}

.pixel {
    line-height: 0;

    border-style: solid;
    border-width: 20px;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;

    background: #000000;
    background:
            linear-gradient(135deg, transparent 10px, #000000 0) top left,
            linear-gradient(225deg, transparent 10px, #000000 0) top right,
            linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
            linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image:
            radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
            radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
            radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
            radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}
