:root {

}

body {
    /*background-image: url("../img/pixel-sky.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: 'VT323', monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

.font-press {
    font-family: 'Press Start 2P', cursive;
}

.font-VT323 {
    font-family: 'VT323', monospace;
}

/*.pixel-box {*/
/*    box-shadow: -15px 0 0 0 black,*/
/*                15px 0 0 0 black,*/
/*                0 -15px 0 0 black,*/
/*                0 15px 0 0 black;*/
/*}*/

.image-pixeled {
    image-rendering: pixelated;
}



/*carousel button positioning*/
.carousel {
    position: relative;
}
.carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 14%;
    transform: TranslateY(-50%);
}
.carousel-control-prev {
    right: auto;
}
.carousel-control-next {
    left: auto;
}