:root {

}

body {
    /*background-image: url("../img/pixel-sky.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: 'VT323', monospace;
}

.font-press {
    font-family: 'Press Start 2P', cursive;
}

.font-VT323 {
    font-family: 'VT323', monospace;
}

/*.pixel-box {*/
/*    box-shadow: -15px 0 0 0 black,*/
/*                15px 0 0 0 black,*/
/*                0 -15px 0 0 black,*/
/*                0 15px 0 0 black;*/
/*}*/