main {
    display: flex;
    flex-wrap: wrap;
}

section {
    border: 1px black solid;
    resize: both;
    overflow: auto;
    border-radius: 20px;
    margin: 10px;
}

#charIcons {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.charIcon {
    margin: 10px;
    border: blue 1px solid;
    border-radius: 100%;
    padding: 5px;
}

#battleMap {
    width: 60%;
    height: 50%;
    content: '';
}

#chat {
    width: 20%;
    height: 90%;
    content: '';
}

#chatInput {
    margin: auto;
    width: 75%;
}

.chatBox {
    margin: 10px;
    border: 1px black solid;
    border-radius: 20px;
}