main {
    display: flex;
}

section {
    border: 1px black solid;
    resize: both;
    overflow: auto;
    border-radius: 20px;
}

#charIcons {
    display: flex;
    flex-wrap: wrap;
}

#battleMap {

}

#chat {

}